<html>
	<head>
		<title>create file</title>
	</head>
	<body>
		<div id="main">
			<a href="/"><b>Home</b></a>
			<br />
			<form action="" method="post">
				<label name="fn">File Name:</label>
				<input name="fn"/>
				</br>
				<label name="content">File Content:</label>
				</br>
				<textarea id="ta1" name="content" rows="25" cols="160"><%=@content%></textarea>
				</br>
				<button type="submit">Submit</button>
			</form>
		</div>
	</body>
</html>
