<html>
	<head>
		<title>newpost</title>
	</head>
	<body>
		<div id="main">
			<form action="" method="post">
				<label id="title">Title</label>
				<br />
				<textarea id="ta1" name="title" rows="3" cols="50"></textarea>
				<br />
				<label id="content">Content</label>
				<br />
				<textarea id="ta2" name="post" rows="25" cols="160"></textarea>
				<label id="category">Category:</label>
				<br />
				<input id="chkbox1" name="tech" type="checkbox">tech</input>
				<input id="chkbox2" name="general" type="checkbox">general</input>
				<input id="chkbox3" name="finance" type="checkbox">finance</input>
				<br /><br /><br />
				<button type="submit">Submit</button>
			</form>
		</div>
	</body>
</html>
