<html>
	<head>
		<title>TA</title>
	</head>
	<body>
		<div id="main">
			<form action="" method="post">
				<textarea id="ta1" name="ta1" rows="25" cols="160"><%=@text%></textarea>
				<br /><br /><br />
				<button type="submit">Submit</button>
			</form>
		</div>
	</body>
</html>
