<html>
	<head>
		<title>edit file</title>
	</head>
	<body>
		<div id="main">
			<div><b>File Editing app</b></div>
			<br />
			<a name="login" href="/login">Login</a>
			<a name="login" href="/logout">Logout</a>
			<br /><br />
			<div id="editoptions">
				<a name="list" href="/list">List Files</a>
				<a name="edit" href="/edit">Edit File</a>
				<a name="create" href="/create">Create File</a>
				<a name="delete" href="/delete">Delete File</a>
			</div>
			<br /><br />
			<div id="opearations"><%=@files%></div>
		</div>
	</body>
</html>
